$color-main: #20c997;
$color-secondary: hsla(0, 0%, 100%, 0.5);
$color-white: #ffffff;
$color-white-secondary: #dee3e4;
$color-black: #000000;
$color-bg-1: #212529;
$color-bg-2: #343a40;
$color-bg-3: #111418;
$color-big-header-1: #6c757d;
$color-big-header-2: hsla(0, 0%, 100%, 0.5);
